// Main color theme
$main_color: rgb(44, 44, 44);
$light_main_color: rgb(88, 88, 88);
$secondary_color: rgb(15, 15, 15);
$tertiary_color: rgb(32, 32, 232);

// secondary theme colors

// other colors
$light_color: rgb(255, 255, 255);
