@use "../base/colors" as c;

.carousel {
  position: relative;
  height: 25rem;
  width: 30rem;
  margin: 0 auto;
  padding: 20px;
  background: c.$light_main_color;
  border-radius: 1.5rem;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container {
  position: relative;
  height: 100%;
  background: c.$main_color;
  overflow: hidden;
  border-radius: 1.5rem;
}

.carousel__track {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: transform ease-in 250ms;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(218deg) brightness(103%) contrast(107%);
  border: 1.2px solid;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;

  img {
    width: 30px;
    height: 30px;
  }
}

.carousel__button--left {
  left: 5px;
}
.carousel__button--right {
  right: 5px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 10px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, 0.7);
}

.hidden {
  display: none;
}
